<%- include("partials/header") -%>
    <h1>Compose</h1>
<form action="/compose" method="post">

  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" name="postTitle" autocomplete="off">
  
    <label>Post</label>
    <textarea class="form-control" cols="40" rows="5" name="postBody"></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
<%- include("partials/footer") -%>