<%- include("partials/header") -%>
    <h1>Home</h1>
<p><%=homeContent%></p>

<% posts.forEach(function(post){ %>
  <h1><%= post.title %></h1>
  <p>
    <%= post.content.substring(0,100) + "..." %>
    <a href="/posts/<%= post._id %>" >Read More</a>
  </p>
<% }) %>
  

<%- include("partials/footer") -%>
